In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("/Users/jatin/Documents/Finlatics/DsResearch/Digital Marketing/online_advertising_performance_data.csv")
df = pd.DataFrame(data)
print(df)

       month  day campaign_number user_engagement     banner placement  \
0      April    1          camp 1            High  160 x 600       abc
1      April    1          camp 1            High  160 x 600       def
2      April    1          camp 1            High  160 x 600       ghi
3      April    1          camp 1            High  160 x 600       mno
4      April    1          camp 1             Low  160 x 600       def
...      ...  ...             ...             ...        ...       ...
15403  April    1          camp 1             Low  160 x 600       ghi
15404  April    1          camp 1             Low  160 x 600       mno
15405   June   29          camp 1            High  800 x 250       ghi
15406   June   29          camp 1            High  800 x 250       mno
15407   June   29          camp 3            High  240 x 400       def

       displays      cost  clicks   revenue  post_click_conversions  \
0             4    0.0060       0    0.0000                       0
1         20170   26.7824     158   28.9717                      23
2         14701   27.6304     158   28.9771                      78
3        171259  216.8750    1796  329.4518                     617
4           552    0.0670       1    0.1834                       0
...         ...       ...     ...       ...                     ...
15403        16    0.0249       0    0.0000                       0
15404      2234    0.4044      10    1.8347                       3
15405         1    0.0157       0    0.0000                       0
15406         4    0.0123       0    0.0000                       0
15407      1209    0.3184       2    0.1115                       3

       post_click_sales_amount  Unnamed: 12  Unnamed: 13
0                       0.0000          NaN          NaN
1                    1972.4602          NaN          NaN
2                    2497.2636          NaN          NaN
3                   24625.3234          NaN          NaN
4                       0.0000          NaN          NaN
...                        ...          ...          ...
15403                   0.0000          NaN          NaN
15404                 101.7494          NaN          NaN
15405                   0.0000          NaN          NaN
15406                   0.0000          NaN          NaN
15407                 110.4224          NaN          NaN

[15408 rows x 14 columns]

In [2]:
print(df.info(), "\n")
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15408 entries, 0 to 15407
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   month                    15408 non-null  object
 1   day                      15408 non-null  int64
 2   campaign_number          15408 non-null  object
 3   user_engagement          15408 non-null  object
 4   banner                   15408 non-null  object
 5   placement                14995 non-null  object
 6   displays                 15408 non-null  int64
 7   cost                     15408 non-null  float64
 8   clicks                   15408 non-null  int64
 9   revenue                  15408 non-null  float64
 10  post_click_conversions   15408 non-null  int64
 11  post_click_sales_amount  15408 non-null  float64
 12  Unnamed: 12              0 non-null      float64
 13  Unnamed: 13              0 non-null      float64
dtypes: float64(5), int64(4), object(5)
memory usage: 1.6+ MB
None

                day       displays          cost        clicks       revenue  \
count  15408.000000   15408.000000  15408.000000  15408.000000  15408.000000
mean      15.518886   15512.573014     11.370262    161.788487     17.929943
std        8.740909   44392.392890     45.369499    728.276911     96.781834
min        1.000000       0.000000      0.000000      0.000000      0.000000
25%        8.000000      78.000000      0.024000      0.000000      0.000000
50%       15.000000    1182.000000      0.339850      6.000000      0.483950
75%       23.000000    8960.250000      2.536225     53.000000      3.839800
max       31.000000  455986.000000    556.704800  14566.000000   2096.211600

       post_click_conversions  post_click_sales_amount  Unnamed: 12  \
count            15408.000000             15408.000000          0.0
mean                42.300623              2123.288058          NaN
std                213.685660             10523.029607          NaN
min                  0.000000                 0.000000          NaN
25%                  0.000000                 0.000000          NaN
50%                  0.000000                 0.000000          NaN
75%                  3.000000               163.351200          NaN
max               3369.000000            199930.318000          NaN

       Unnamed: 13
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

In [3]:
engagement_unique_count = df["user_engagement"].value_counts()
print(engagement_unique_count)

user_engagement
Medium    5489
Low       5035
High      4884
Name: count, dtype: int64

In [ ]:
import matplotlib.pyplot as plt

plt.plot(df["user_engagement"], df[""])